<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aucegypt.learningcentershub">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.user.categoriesscreen.CatCoursesActivity"
            android:theme="@style/ActionBarTheme"></activity>
        <activity android:name=".ui.DownloadImageActivity"></activity>
        <activity android:name=".ui.user.createaccountscreen.CreateAccountActivity">
            <intent-filter>
                <action android:name="edu.aucegypt.learningcentershub.CREATE_ACCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="edu.aucegypt.learningcentershub.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.registercoursescreen.CourseRegisterActivity" >

        </activity>
        <activity android:name=".ui.StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.homescreen.MainActivity">
            <intent-filter>
                <action android:name="edu.aucegypt.learningcentershub.MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.admin.Admin_home" />
        <activity android:name=".ui.user.courseinfoscreen.CourseInfo"
            android:theme="@style/ActionBarTheme"/>
        <activity android:name=".ui.user.myaccountscreen.MyAccount" />
        <activity android:name=".ui.user.registercoursescreen.Payment" />
        <activity android:name=".ui.user.learningcenterinfoscreen.LearningCenterInfoActivity" />
        <activity android:name=".ui.admin.LearningCenterInfoAdmin" />
        <activity android:name=".ui.admin.CourseInfoAdmin" />
        <activity android:name=".ui.admin.Registered__users"/>
    </application>

</manifest>